[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymc3 = "*"
seaborn = "*"
numpy = "*"
pandas = "*"
sklearn = "*"

[requires]
python_version = "3.6"
