$col-primary:           #1565c0;
$col-light-blue-01:     #bbdefb;
$col-light-blue-02:     #90caf9;
$col-light-blue-03:     #64b5f6;
$col-light-blue-04:     #42a5f5;
$col-error:             #cc0000;
$col-fancy-black:       #090909;

$col-white:             #ffffff;
$col-gray-01:           #fefefe;
$col-gray-02:           #fafafa;
$col-gray-03:           #f2f2f2;
$col-gray-04:           #dddddd;
$col-gray-05:           #bcbdbd;
$col-gray-06:           #757575;

$col-normalText:        #41485C;
$col-normalText--light: #DCDCDC;
$col-normalText--dark:  #303030;
$col-title--big:        #F5F5F5;