$val-fontSizeXSmall: 10px;
$val-fontSizeSmall: 12px;
$val-fontSizeRegular: 14px;
$val-fontSizeNormal: 18px;
$val-fontSizeBig: 20px;
$val-fontSizeXBig: 30px;

$val-spacing-xxs: 5px;
$val-spacing-xs: 10px;
$val-spacing-s: 15px;
$val-spacing-m: 20px;
$val-spacing-l: 25px;
$val-spacing-xl: 30px;
$val-spacing-xxl: 40px;

$val-fontWeightBold: 600;
$val-borderRadius: 3px;
$val-btnBorderRadius: 2px;