@import 'styles/Colors.scss';
@import 'styles/Constants.scss';

.redux-form {
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__label {
    color: $col-gray-05;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    .required {
      margin-left: 3px;
      color: $col-error;
    }
  }

  &__error {
    color: $col-error;

    &--field {
      color: $col-error;
      font-size: 10px;
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid $col-gray-05;
    width: 100%;

    &:hover, &:focus {
      outline: none;
      border: none;
      border-bottom: 1px solid $col-gray-06;
    }

    &.error {
      border-bottom-color: $col-error;
    }
    &:disabled {
      color: $col-gray-04;
      border-bottom: 1px solid $col-gray-04;
    }
    &::placeholder {
      color: $col-gray-04 !important;
    }
  }
}
